<ion-header>
  <ion-toolbar>
    <div style="margin-top: 0.3em;">
        <ion-title>
          Weather Forecast
          <div>
            <div class="header-button" (click)="changeTemperatureMetric()" style="cursor: pointer;" mdbWavesEffect>
              {{temperatureFormatLabel}}
            </div>
            <div class="header-button" (click)="navigate()" style="cursor: pointer;" mdbWavesEffect>
              <i class="{{searchIcon}}" style="margin-left: 0.4em; font-size: 1.2em;"></i>
            </div>
          </div>
        </ion-title>
    </div>
  </ion-toolbar>
</ion-header>