.header-button {
    float: right;
    height: 1.5em;
    width: 1.5em;
}
.header-title {
    position: static; 
    float: left;
}
.header-buttons-container {
    position: static;
    float: right; 
    line-height: 1.4em;
}
.metric-change-button {
    cursor: pointer; 
    font-size: 1.4em; 
    font-weight: 500;
}
.header-navigation-button {
    cursor: pointer; font-size: 1.2em;
}