<ion-header>
  <ion-toolbar>
    <div>
        <ion-title>
          <div class="header-title">
              Weather Forecast
          </div>
          <div class="header-buttons-container">
            <span (click)="changeTemperatureMetric()" class="metric-change-button" mdbWavesEffect>
              {{temperatureFormatLabel}}
            </span>
            <span (click)="navigate()" class="header-navigation-button" mdbWavesEffect>
              <i class="{{searchIcon}}" style="margin-left: 0.4em;"></i>
            </span>
          </div>
        </ion-title>
    </div>
  </ion-toolbar>
</ion-header>