<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather Forecast
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <div class="city-card-container" *ngFor="let city of wheatherInfo">
        <div class="col-sm-12 col-md-4 col-lg-2">
          <citycard 
            [id]="city?.id" 
            [name]="city?.name"
            [weatherState]="city?.weather[0]?.description"
            [icon]="city?.weather[0].icon"
            [currentTemp]="city?.main?.temp"
            [minTemp]="city?.main?.temp_min"
            [maxTemp]="city?.main?.temp_max">
          </citycard>
        </div>
      </div>
  </div>
</ion-content>
