<div class="ion-padding page-content">
  <div *ngIf="isLoading" class="loader-container">
      <loading-spinner [isLoading]="isLoading"></loading-spinner>
  </div>
  <div *ngIf="(!weatherInfo || !weatherInfo.length) && !isLoading" class="text-center">
    <h2>Parece que você não adicionou uma cidade ainda</h2>
    <p>Tente adicionar uma usando o botão de busca</p>
  </div>
  <div *ngIf="weatherInfo && !isLoading">
    <div class="row">
      <div class="card-container col-sm-6 col-md-6 col-lg-3" *ngFor="let city of weatherInfo">
        <weather-card 
          [id]="city?.id"
          [title]="getCardTitle(city?.name, city?.sys?.country)"
          [weatherState]="city?.weather[0]?.description"
          [icon]="city?.weather[0].icon"
          [currentTemp]="city?.main?.temp"
          [minTemp]="city?.main?.temp_min"
          [maxTemp]="city?.main?.temp_max"
          [showRemoveButton]="true"
          (removeEvent)="removeFromList($event)"
          (onClickEvent)="goToDetails($event)">
        </weather-card>
      </div>
    </div>
  </div>
</div>
