.current-temp {
    font-size: 2em;
    font-weight: 200;
    line-height: 1.5em;
    color: #2ec7a4;
    text-align: right;
    margin-right: 0.2em;
}

.card-details {
    margin-bottom: 0px !important;
}