<div mdbWavesEffect class="card" style="position: relative; cursor: pointer;" (click)="goToDetails()">
  <div style="
    position: absolute; 
    right: 0.5em; 
    top: 1em; 
    font-size: 1.4em; 
    z-index: 1000;">
    <span style="padding: 8px; cursor: pointer;" (click)="removeEventClick()" mdbWavesEffect>
      <i class="fas fa-trash"></i>
    </span>
  </div>  
  <div class="card-body" (click)="goToDetails()">
      <h2 style="text-align: center;">{{name}}</h2>
      <div style="text-align: center;">
          <img *ngIf="iconUrl" src="{{iconUrl}}" style="height: 8em;">
          <i *ngIf="!iconUrl" class="far fa-question-circle"></i>
          <span>{{_currentTemp | temperature}}</span>
      </div>
    </div>
  </div>
