<div class="ion-padding page-content">
    <div class="text-center">
        <h2>Adicionar cidade</h2>
        <p>Pesquise por uma cidade e toque para adicioná-la</p>
        <input #inputName autofocus
            placeholder="Insira o nome da cidade" 
            name="city" 
            [value]="cityNameInput" 
            (keyup)="keypress.next($event.target.value)"/>
    </div>
    <div *ngIf="isLoading" style="text-align: center; margin-top: 5em;">
        <loading-spinner [isLoading]="isLoading"></loading-spinner>
    </div>
    <div *ngIf="!isLoading" class="row">
        <div class="card-container" style="width: 100%;">
            <tile 
                *ngIf="searchResults"
                [id]="searchResults.id" 
                [name]="searchResults.name"
                [currentTemp]="searchResults.main?.temp"
                [alreadyAdded]="searchResults.alreadyAdded"
                (itemClickEvent)="itemClick($event)">
            </tile>
        </div>
    </div>
    <div class="text-center" *ngIf="cityNameInput && !searchResults && !isLoading">
        <p>Nenhum resultado encontrado</p>
    </div>
</div>
