*{
  box-sizing: border-box;
}
input {
    -webkit-appearance: none;
    width: 70%;
    border: 0;
    height: 2em;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border-radius: 0;
    border-bottom: 0.1em solid #2ec7a4;
    transition: all .15s ease;
    &:hover {
        background: rgba(#223254,.03);
    }
    &:not(:placeholder-shown) {
        span {
            color: #5A667F;
            transform: translateY(-26px) scale(.75);
        }
    }
    &:focus {
        background: none;
        outline: none;
        span {
            color: #0077FF;
            transform: translateY(-26px) scale(.75);
        }
        .border {
            transform: scaleX(1);
        }
    }
}