<div class="card" (click)="clickEvent()">
  <div class="view overlay">
    <a href="javascript:void(0);">
      <div class="mask waves-effect rgba-white-slight" mdbWavesEffect></div>
    </a>
    <h5 class="card-title custom-card-title">{{_title}}</h5>
    <div *ngIf="showRemoveButton" class="remove-button">
      <span (click)="removeEventClick()" mdbWavesEffect>
        <i class="fas fa-trash"></i>
      </span>
    </div>
    <div class="card-body">
      <div class="row card-details">
        <div class="col-6">
          <div class="weather-state">
            {{_weatherState}}
          </div>
        </div>
        <div class="col-6">
          <div class="current-temp">
              {{_currentTemp | temperature}}
          </div>
          <p class="text-right">
            {{_maxTemp | temperature}}
            -
            {{_minTemp | temperature}} 
          </p>
        </div>
      </div>
          
    </div>
  </div>
</div>